/*-------------------------------*/

.research_question_table {
  margin-right: auto;
  margin-left: auto;
}

.research_question_table td {
  border: thin solid black;
  border-collapse: separate;
  padding: 10px;
}
.research_question_table th {
  border: thin solid black;
  border-collapse: separate;
  padding: 10px;
}
.research_question_table_vote_td {
  white-space: nowrap;
}
.research_question_table_score_td {
  white-space: nowrap;
  text-align: center;
}

.research_question_comments_table {
  border-collapse: collapse;
  border: 1px solid black;
}

.research_question_comments_table td {
  padding-top: 5px;
  border: 1px solid black;
  word-wrap: break-word;
}

.research_question_comments_table th {
  padding-top: 5px;
  border: 1px solid black;
  word-wrap: break-word;
  background-color: #BDBDBD;
}

.research_question_comments_comments_col {
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
}

.research_question_comments_sub_by_col {
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  width: 30%;
}
.research_question_comments_sub_on_col {
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.right_side {
  text-align: right;
}

.confirm_table {
  margin-right: auto;
  margin-left: auto;
}

.confirm_table td {
  padding: 5px;
  text-align: center;
}

.impart_error_message {
  color: red;
  font-weight: bold;
  font-size: 14pt;
}

.wide_line_spacing {
  line-height: 170%;
}

.thicker_hr hr {
  margin: 1px 0;
  border-color: #CECED2;
  border-width: 2px 0;
}

.padding_top_thicker_hr hr {
  margin: 1px 0;
  border-color: #CECED2;
  border-width: 2px 0;
  margin-top: 30px;
}

.nav-pills li {
 line-height: 6px;
  margin-bottom: 0;
}

.new_research_question_table {
  margin-right: auto;
  margin-left: auto;
  width: 100%
}

.new_research_question_table td {
  border: none;
  padding: 10px;
}

.btn-circle {
    margin-top: 5px;
}
.btn-circle.btn-xl {
  width: 93px;
  height: 93px;
  padding: 10px 15px;
  font-size:.8em;
  line-height:1em;
  font-weight:bold;
  line-height: .5;
  border-radius: 48px;
  color: #fff;
}

.pad_bottom_tiny {
  padding-bottom: 4px;
}

.votes {
    background: #AEBFCF;
    cursor: default;
}
.comments {
    background: #00A3CC;
    cursor: default;
}
.views {
    background: black;
    cursor: default;
}

.left-align {
    margin-left: -4px;
}

.font-orange {
    color: #FF9900;
}
.round_number_font {
  font-size: 1.4em;
}

.details_title_bar {
  line-height: 30px;
  margin-bottom: 5px;
}

.pad_bottom {
  padding-bottom: 40px;
}

.pad_bottom_small {
  padding-bottom: 15px;
}

.pad_bottom_large {
  padding-bottom: 60px;
}

.left_vertical_line_table {
  border-left: 2px solid;
  border-color: #CECED2;
  padding-left: 10px;
}

.left_vertical_line_table th {
  border-left: 2px solid;
  border-color: #CECED2;
  padding-left: 10px;
}

.left_vertical_line_table td {
  border-left: 2px solid;
  border-color: #CECED2;
  padding-left: 10px;
}

.left_vertical_line_padded_table {
  border-left: 2px solid;
  border-color: #CECED2;
  padding-left: 20px;
}

.left_vertical_line_padded_table th{
  border-left: 2px solid;
  border-color: #CECED2;
  padding-left: 20px;
}

.left_vertical_line_padded_table td {
  border-left: 2px solid;
  border-color: #CECED2;
  padding-left: 20px;
}

.smaller_font {
  font-size: 11pt;
}

.indent_left {
  padding-left: 40px;
}

.indent_left_marg {
  margin-left: 40px;
}

.full_font_size {
  font-size: 100%;
}

.font_size_14 {
  font-size: 14pt;
}

.font_size_12 {
  font-size: 12pt;
}

.dotted_border {
  border-style: none none dotted none;
  border-color: #d5d5d5;
}

.add_padding {
  padding-right: 8px;
}

.add_padding th {
  padding-right: 8px;
}

.add_padding td {
  padding-right: 8px;
}

.top_margin {
  margin-top: 3px;
}

.hidden_label {
  display: none;
}

.no_padding {
  padding: 0;
}

/* CSS for handling the resizing of the info circles on the question list page. */
@media screen and (max-width: 1800px) {
  .round-button span {
    display: block;
    float: left;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 35%;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .round-button {
    width: 3.9em;
  }
}
@media screen and (max-width: 1450px) {
  .round-button span {
    display: block;
    float: left;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 35%;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .round-button {
    width: 3em;
  }
  #circle_label {
    display: none;
  }
  .hidden_label {
    display: inline;
  }
}
@media screen and (max-width: 1200px) {
  .round-button span {
    display: block;
    float: left;
    font-size: 0.4em;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 35%;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .round-button {
    width: 2em;
  }
  #circle_label {
    display: none;
  }
  .hidden_label {
    display: inline;
  }
}
@media screen and (max-width: 991px) {
  .round-button span {
    display: block;
    float: left;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 50%;
    padding-top: 35%;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .round-button {
    width: 3.9em;
  }
  #circle_label {
    display: inline;
  }
  .hidden_label {
    display: none;
  }
}
