body {
  font-family: arial,sans-serif;
  font-size: 13px;
  min-width: 320px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand{
  padding-top: 0;
  height: 110px;
}

.navbar-nav{
  margin-top: 44px;
}

.navbar-nav .active{
  background: none;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  text-decoration: none;
  background: none;
}

.navbar-toggle .icon-bar {
    background-color: #888888;
}

.navbar-toggle {
    border-color: #DDDDDD;
    margin-top: 40px;
}
