.m_social{
    position: absolute;
    right: 20px;
    top:18px;
}

.m_social li{
    cursor: pointer;
}

.m_search,.m_face,.m_goog,.m_bird,.m_twit,.m_yout{
    background-image: url(../img/social.png);
    background-repeat: no-repeat;
    display: block;
    width: 26px;
    height: 28px
}

.m_bird{
    background-position:0 0;
}

.m_twit{
    background-position: -28px 0;
}

.m_yout{
    background-position: -57px 0;
}

.m_cite{
    color: #00693e;
    font-weight: bold;
    border-left: 1px solid #00693e;
    height: 26px;
    padding-top: 3px;
}

.m_cite span{
    position: relative;
    top: 3px;
}

.m_cite a {
    color: #00693e;
}

.m_navbar li a{
    color: #8a928f;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
}

.m_navbar li.active a{
    color: #00693e;
}

.m_footer{
    background: #000 url(../img/bg_footer.png);
    height: 280px;
    padding-top: 50px;
    text-align: center;
}

.m_footer a,.m_footer .muted{
    color: #fff;
    font-size: 12px;
}

.m_footer .container .list-inline:first-child{
    margin-bottom: 2px;
}

.m_footer .container .list-inline:last-child{
    margin-top:-10px;
}

/*-----------------m_main--------------------*/

.bg_ct{
     background: url(../img/bg_main.png) left top repeat;
}

.active{
     background: url(../img/bg_menu_left.png) left top repeat;
     color: #00693e;
     font-weight: bold;
}

.tab-content .active {
    background: none;
}

.m_banner{
    background: url(../img/banner3.jpg) right top no-repeat;
    height:425px; 
    max-width: 1200px;
    position: relative;
}

.m_banner2{
    background: url(../img/banner4.jpg) right top no-repeat #FFFFFF;
    height:498px; 
    max-width: 1200px;
    position: relative;
}

.m_banner .m_banner_text {
    margin-top: 120px;
}

.m_banner_text{
    color: #fff;
    font-size: 24px;   
    font-weight: bold;
}

.m_banner_text a {
    color: #fff;
    text-decoration: underline;
}
.m_banner_text a:hover {
    text-decoration: none;
}

.m_bx_text,.m_banner_text{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.m_boxes .row{
    margin: -50px auto 0;
    max-width: 800px; 
    margin-bottom: 50px;
}

.m_boxes a:hover {
  text-decoration: none;
}

.m_bx1,.m_bx2,.m_bx3,.m_form{
border-radius: 5px;
}

.m_bx1,.m_bx2,.m_bx3{
opacity: 0.9;
min-width: 156px;
padding-bottom: 20px;
padding-top: 10px;
}

.m_bx1{
    background: url(../img/bg_bx1.png) left top repeat;
    box-shadow: 0px 15px 10px 1px rgba(78, 206, 255, 0.2);
}

.m_bx2{
    background: url(../img/bg_bx2.png) left top repeat;
    box-shadow: 0px 15px 10px 1px rgba(67, 183, 75, 0.16);
}

.m_bx3{
    background: url(../img/bg_bx3.png) left top repeat;
    box-shadow: 0px 15px 10px 1px rgba(243, 255, 76, 0.23);
}

.m_bx_img{
    background-image: url(../img/boxes_icons.png);
    background-repeat: no-repeat;
    width: 85px;
    height:84px;
    margin:0 auto;
}

.m_bx_text{
    color: #fff;
    font-size: 19px;
    line-height: 120%;
    margin:10px auto 0 auto;
    width: 140px;
    text-align: center;
}

.m_bx1 .m_bx_img{
    background-position: 15px 10px;
}

.m_bx2 .m_bx_img{
    background-position: -80px 10px;
}

.m_bx3 .m_bx_img{
    background-position: -180px 10px;
}


.m_sections_title{
    margin-top: 10px;
    color: #00693e;
    font-weight: bold;
}

.txt_center{
    text-align: center;
}

.m_fsize1{
    font-size: 24px;
}

.m_fsize2{
    font-size: 20px;
}
.m_fsize3{
    font-size: 15px;
}

.m_remove_margin {
    margin-bottom:0;
}

.m_img_align {
    margin-top: -4px;
    margin-left: 10px;
}

.m_section_content{
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
}

.m_section_content strong{
    color: #00693e;
    font-size: 16px; 
}

.m_section_content p{
    color: #b8bec7;
    margin-bottom: 2px;
}

.m_section_content .m_green,.m_green a{
    color: #90d0b0 !important;
}

.m_section_opers{
    margin-top: 10px;
    overflow:hidden;
}

.m_section_opers a{
  padding-left: 5px;
}

.m_section_opers a.m_op_expand{
    padding-left: 0;
}

.m_op_reply,.m_op_retweet,.m_op_favorite,.m_op_more{
    background: url(../img/op_icons.png) left center repeat;
    padding-left: 12px;

}

.m_op_reply{
 background-position: 0px 1px;
}

.m_op_retweet{
 background-position: -20px 2px;
}

.m_op_favorite{
  background-position: -44px 1px;
}

.m_op_more{
  background-position: -67px 2px;
}

.m_box_row{
    width: 800px;
    overflow: hidden;
    margin: 0 auto 40px auto;
}

.m_boxes2{
    margin-top: 30px;
}

.m_box2{
    /*background-image: url("../img/bg_vertical.png");*/
    background: #fff;
    background-position: left top;
    background-repeat: repeat;
    border-radius: 5px;
    opacity: 0.75;
    position: absolute;
}

.m_box2_wp,.m_box2{
    height: 160px;
    width: 240px;
    float: left;
    position: relative;
}  

.m_box2_wp.mg{
    margin-left: 40px;
    margin-right: 40px;
}

.m_bg_help,.m_bg_resources,.m_bg_community,.m_bg_funding,.m_bg_data,.m_bg_collaborators{
    height: 165px;
    padding-top: 2px;
    position: relative;
    top: 32px;   
}

.m_bg_help{
    background: url("../img/m_box_info.png") center top no-repeat;
}

.m_bg_resources{
    background: url("../img/m_box_caja.png") center top no-repeat;
}

.m_bg_community{
    background: url("../img/m_box_exchange.png") center top no-repeat;
}

.m_bg_funding{
    background: url("../img/m_box_cash.png") center top no-repeat;
}

.m_bg_data{
    background: url("../img/m_box_find_money.png") center top no-repeat;
}

.m_bg_collaborators{
    background: url("../img/m_box_colaboration.png") center top no-repeat;
}

.highlight{
    color: #739092; 
}

.m_box2_text{
    color: #809394;
    position: absolute;
    text-align: center;
    top: 80px;
    width: 100%;
    font-size: 16px;
}

.m_links_wp{
    min-width: 150px;
    background: #fff;
    padding-left: 0; /* padding-left:0; added after removing bootstrap row in template base_synergy.html 10/14/14 RAD */
    padding-right: 0;
    border-right: 1px solid #7fb49e;
}

.m_findfunding_wp{
    background: #eff7f4;
    padding: 15px 10px;
    height: 71px;
}

.m_findfunding{
    padding: 5px 0px 5px 50px;
    margin-left: 10px;
    height: 40px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #00693e;
}

.m_findfunding_img{
background: url("../img/m_findfunding.png") left center no-repeat;
}

.m_dashboard_img{
background: url("../img/m_findfunding.png") left center no-repeat;
}

.m_links li{
height: 50px;
padding-left: 62px;
line-height: 50px;
/* white-space: nowrap; This value does not work for our long tab names 10/14/14 RAD */
cursor: pointer;
color: #00693e;
font-weight: bold;
}

.m_links li a {
    color: #00693e;
}

.m_links li.active a {
    color: #fff;
}

.m_links li.active{
    cursor: default !important;
    color:#fff;
    font-weight: bold;
}

.m_link_content{
    color:#8A928F;
    padding: 0;
}

.m_link_content .active {
    color:#8A928F;
    font-weight: normal;
    padding: 0;
}

.m_link_content .active a {
    color:#339966;
}

p strong {
    color:#739092;
}

.m_sections_title2{
    height: 71px;
    padding: 0;
    margin: 0;
    background: #eff7f4;
    line-height: 71px;
    text-align: left;
    padding-left: 30px;
}

.bar-sides{
    position: relative;
    height: 1px;
    background: #ccc;
}

.m_sections_title3 {
    position: absolute;
    left: 50%;
    margin-left: -98px;
    margin-top: -10px;
    background: #FFF;
    padding: 0 6px;
    color: #00693e;
}

.npad{
    padding: 0;
}

.mg_v{
    margin-top: 50px;
}

.pd-lf-xx{
    padding-left: 20px;
}
.pd-lf-xxx{
    padding-left: 30px;
}

.pd-tp-x{
    padding-top: 10px;
}

.pd-tp-xx{
    padding-top: 20px;
}

@media (max-width: 1290px) and (min-width: 768px) {
    .m_links li {
        line-height: 20px;
    }
    .m_links li.active {
        line-height: 20px;
        padding-top: 5px;
    }
}

@media (max-width: 992px) {
  .m_main{
   /* background: yellow !important; */
  }

   .m_navbar{ 
        left: 20px;
        position: relative;
        margin:-16px auto 0 auto;
    }

  .m_social {
        top:30px;
    }

  .m_box2_wp, .m_box2 {
        width: 202px;
    }
}

@media (max-width: 768px) {

    .m_main{
   /* background: blue !important; */
    }

    .m_box2_wp, .m_box2 {
        width: 174px;
    }

    .m_box_row {
        width: 602px;
    }

    .m_social {
        display:none;
    }

    .m_navbar {
        left: 0px;
        margin: 0 auto !important;
        position: relative;
    }

    .m_sections .col-xs-12,.m_sections_title{ 
        text-align: center;
    }

    .m_section_opers {
        margin-bottom: 10px;
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 10px;
    }

    .m_section_content {
        border-bottom: none;
        padding-bottom: 0px;
    }

    .m_links_wp,.m_link_content{
     min-height: 0 !important;
     padding-bottom: 10px
    }

    .m_link_content {
        padding-left: 20px;
    }
}

@media (max-width: 674px) {

    .m_main{
    /*background: red !important;*/
    }

    .m_box_row {
        width: auto;
        margin: 0 auto;
    }

    .m_box2_wp{
        float: none;
    }

    .m_box2_wp, .m_box2 {
        margin: 0 auto 15px;
        width: 300px;
        height: 116px;
    }

    .m_box2_wp.mg {
        margin-left: auto;
        margin-right: auto;
    }

    .m_banner2 {
        height: 860px;
    }

    .m_bg_help, .m_bg_resources, .m_bg_comunity, .m_bg_funding, .m_bg_data, .m_bg_collaborators {
        top: 10px;
    }

    .m_box2_text {
        top: 70px;
    }
}

@media (max-width: 600px) {
  .m_main{
    /*background: #000 !important;*/
  }

  .m_boxes.m_pg1{
     margin-top: 60px;
  }

  .m_boxes .col-xs-4{
    float: none;
    width: 280px;
    margin: 10px auto;
  }

  .m_links li {
   
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    min-width: 134px;
  }

   .m_links {
        padding-left: 50px;
        min-width: 470px;
   }

   .m_links li.active{
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
   }
}

.m_links_wp,.m_link_content{
    min-height: 700px;
}

.m_ico_pdf{
    background: url("../img/m_icon_pdf.png") left top no-repeat;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 36px;
}

.highlight2{
    color: #339966;
}

.m_input{
    width: 60%;
}

.m_form{
    background: #fff;
    padding:15px 20px 70px 30px;
}


.m_input,.m_input2{
    background: url(../img/bg_main.png) left top repeat;
}

.m_form .space{
    margin-top: 15px;
}
.m_form .space2{
    margin-top: 30px;
}

.m_form .space3{
    margin-top:30px;
    width: 60%;
}

.m_link_content .m_fx{
    margin-bottom: 0;
    margin-top: 0;
}

.m_link_content .m_fx2{
    margin-top: 13px;
}

.checkbox input{
    margin-top: 1px;   
}

.m_fsize3{
    font-size: 16px;
}
/*-------------------------*/

.m_main_min_height{  
    min-height:500px; 
}

.m_pd_tp_x{
    padding-top: 10px;
}

.m_pd_tp_xx{
    padding-top: 20px;
}

.m_pd_bm_xxxx{
    padding-bottom: 40px;
}

/*-----------Styles from old stylesheet before using new design 9/29/14 RAD --------------*/

.footer_ctsa {
  color: #E2E4E3;
  font-size: 12px;
  text-align: left;
}

#mobile-footer {
    display: none;
}

.m_findfunding_img{
    background: url("../img/side_nav_icons/m_findfunding_green.png") left no-repeat;
    padding-right: 45px;
}
.m_research_img{
    background: url("../img/side_nav_icons/research_green.png") left no-repeat;
    padding-right: 45px;
}
.m_education_img{
    background: url("../img/side_nav_icons/education_green.png") left no-repeat;
    padding-right: 45px;
}
.m_community_img{
    background: url("../img/side_nav_icons/community_green.png") left no-repeat;
    padding-right: 45px;
}
.m_about_img{
    background: url("../img/side_nav_icons/about_green.png") left no-repeat;
    padding-right: 45px;
}

@media (max-width: 600px) {

  #desktop-footer {
    display: none;
  }

  #mobile-footer {
    display: inline;
  }
  #mobile-footer a {
    font-size: 15px;
    text-decoration: underline;
  }
  #mobile-footer a:hover {
    text-decoration: none;
  }
}

.right_float {
  float:right;
  padding-left: 10px;
}

.synergy_fancy_over_image {
  display: block;
  font-style: oblique;
  line-height: 190%;
}
.synergy_fancy_over_image a {
  color: white;
  text-decoration: underline;
}
.synergy_fancy_over_image a:hover {
  text-decoration: none;
}

/*-----------TWEETS--------------*/

.interact a {
  color: #90d0b0 !important;
}

.t_user a {
  color: #b8bec7;
}
.t_user img {
    display:none; /* hide twitter icon */
}

.tweet a {
  color: #90d0b0 !important;
}

#tweets li {
    list-style-type: none;
}

#tweets .m_section_content {
    border-style: none;
}

.twitter_reply_icon,.twitter_retweet_icon,.twitter_fav_icon {
  padding-left: 15px;
  padding-right: 4px;
}

.twitter_reply_icon{
  background: url(../img/op_reply.png) no-repeat;
  background-position: 0 1px;
}

.twitter_retweet_icon{
  background: url(../img/op_retweet.png) no-repeat;
  background-position: 0 2px;
}

.twitter_fav_icon{
  background: url(../img/op_fav.png) no-repeat;
  background-position: 0 1px;
}

.no_margins {
  margin:0;
}