body{
  min-width: 320px;
}

.bg_breadcrumb a,.bg_breadcrumb span,.m_main > .container > h2,#home h3 > a,.m_bx h3{
font-size: 26px;
}

.wrapper > nav.navbar{
  border: 0;
  border-radius:0;
}

.color2{
  color:#1a884a !important;
}

#home .navbar-fixed-top .navbar-right{
  float: right  !important;
  margin-right: 10px;
  margin-top: 44px;
}
#home .navbar-fixed-top a{
  color: #fff !important;
  /*font-weight: normal !important;*/
  padding-top: 15px !important;
}

#project .bl a,#home h3 a, #home .pd_x a {
  text-decoration: none;
}

.hg-st{
  min-height: 700px;
}

.fsz_16{
  font-size: 16px;
}

.bl{
  font-weight: bold;
}

.pd_x{
  padding-left:10px;
  padding-right: 10px;
}

.m_main{
  /*background: url(../img/bg_project.png) left top repeat;*/
}

.m_main.bg_white{
  background: #fff;
  /*min-height: 800px;*/
}

.m_main.bgwhite{
  background: #fff;
}

.m_main > .container{
  max-width: 1000px;
  margin: 0 auto;
}

/*---container launch-new-----*/
#launch-new .container{
  max-width: 1000px;
}
/*---container manage_existing_project-----*/
#manage_existing_project  .container{
  max-width: inherit;
}

/*---container submit_new_request-----*/
#submit_new_request .container {
    max-width: 1000px;
}

.m_main > .container > h2{
  text-align: center;
}

.m_bx {
    min-width: 156px;
    cursor: pointer;
    padding-bottom: 10px;
    background: #fff;
    border: 1px;
    margin-top: 20px;
    -moz-box-shadow:   0px 1px 0px 1px #eaeeef;
    -webkit-box-shadow: 1px 1px 1px 1px #eaeeef;
    box-shadow:         0px 1px 0px 1px #eaeeef;
    background: url(../img/bg_project.png) left top repeat;
}

.m_bx.hg1{
  height: 210px;
  max-height: 210px;
  padding-top: 50px;
}

.m_bx.hg2{
  height: 180px;
  max-height: 180px;
  padding-top: 37px;
}

.m_bx h3{
  color: #909094;
  text-align: center;
}

a.breadTitle{
  text-decoration: none;
}

body .m_footer a{
  color: #e2e4e3 !important;
}

a.breadTitle:hover{
  color: #000 !important;
}

.m_bx_img1{
    background-image: url(../img/bx_img1.png);
    background-repeat: no-repeat;
    width: 99px;
    height:93px;
    margin:0 auto;
}

.m_bx_img2{
    background-image: url(../img/bx_img2.png);
    background-repeat: no-repeat;
    width: 88px;
    height:93px;
    margin:0 auto;
}

.m_bx_img3{
    background-image: url(../img/bx_img3.png);
    background-repeat: no-repeat;
    width: 99px;
    height:93px;
    margin:0 auto;
}

.m_bx_img4{
    background-image: url(../img/bx_img4.png);
    background-repeat: no-repeat;
    width: 88px;
    height:93px;
    margin:0 auto;
}

.m_bx_img5{
    background-image: url(../img/bx_img5.png);
    background-repeat: no-repeat;
    width: 70px;
    height:93px;
    margin:0 auto;
}

.btn1{
    background: url(../img/btn_logout.png) left top no-repeat;
    width: 136px;
    height: 67px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 67px;
    font-size: 20px;
    margin-top: 21.5px;
}

.bg_breadcrumb{
  padding: 11px;
  background: #80A281;  /* per design team, was #f2f7f5; */
  /* border:1px solid #e6f7f1; per design team */
}

.bg_breadcrumb .breadcrumb {
  line-height: 100%;
  background: #80A281; /* was #f2f7f5; per design team */
  margin: 0;
  padding: 0 15px;
}

.bg_breadcrumb span,
.bg_breadcrumb a{
  color: #FFF !important;  /* per design team */
  display: inline-block;
  margin-top: 6px;
  font-weight: bold;
}
.bg_breadcrumb a:first-child{
  margin-left: -15px;
}

.table > thead > tr > th{
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
}

.help{
  margin-top: -14px;
}

.form-control{
  background: url(../img/bg_project.png) left top repeat;
  font-weight: bold;
}

.checkbox-inline{
  margin-left: -8px;
}

.checkbox-inline input  {
  height: 40px;
  width: 60px;
  background: url(../img/bg_project.png) left top repeat;
}

.checkbox-inline span{
  float: right;
  margin-top: 15px;
}

form{
  /*margin-left: 40px;*/
  /*padding: 0 20px;*/  /* SAJ 01/06/2015 */
}

form h4{
  font-weight: bold;
}

.form-control{
  /*height: 60px;*/
  height: 50px;
}

.wp_checkbox{
  width: 130px;
}

.lbl_checkbox{
    float: right;
    font-size: 16px;
    margin-top: 15px;
    font-weight: bold;
}

.mg_lf_xxx{
  margin-left: 40px;
}

.mclearfix{
  clear: both;
}

.wp_btn,#launch-new .lstcheckbox{
  width: 400px;
  margin: 0 auto;
}
#launch-new .lstcheckbox2 {
  width: 100%;
}

#launch-new .btn-default,#submit_new_request .btn-default{
  background: url(../img/bg_project.png) left top repeat;
  font-weight: bold;
}

#launch-new .btn,#submit_new_request p .btn{
  width: 180px;
  margin-top: 15px;
}

#launch-new{
  margin-bottom: 40px;
}

.color_txt1{
  color: #54977c;
}

.container-fluid.npd{
  padding-left: 0;
  padding-right: 0;
}

#manage_existing_project .table thead{
  height: 50px;
  font-size: 16px;

}

#manage_existing_project .table tbody{
  font-size: 14px;
}

#manage_existing_project thead th{
    color: #777777;  /* per design team, was #000; */
    line-height: 20px;
    background: #EDEDED; /* was #fafafa, per design team */
}

#manage_existing_project .table > tbody > tr > td{
  border-top: 1px solid #fafafa;
}

#manage_existing_project .tdname p {
  color: #4A4B4C;  /* was #54977c; per design team */
}

.form-group.select{
  position: relative;
  padding-right: 100px;
}

.form-group.select button{
  position: absolute;
  height: 50px;
  right: 0px;
}
/*.form-group.select button a {
  color: #FFFFFF;
}  per design team */

.head_checkbox{
  background: #f5f5f5;
  /*margin-right: 70px;*/
  padding: 15px 0 15px 10px;
  cursor: default;
}

.wp_checkbox2 {
    margin-bottom: 15px;
}


#submit_new_request .lbl_checkbox {
    float: left;
    margin-left: 70px;
   /*margin-top: 4px;*/
}

#submit_new_request .lbl_checkbox.center{
  margin-top: 15px;
}

.icon-request{
  background: url(../img/icon_adv.png) center top no-repeat;
  height: 266px;
  transform: scale(0.7);
}

.actions button{
  height: 80px;
}

.items a{
  color: white;
  display: block;
  margin-bottom: 15px;
  margin-left: 10px;
  float: left;
}

li.ico_money,li.ico_gps,li.ico_name{
  list-style: none;
  height: 32px;
  padding-left: 34px;
  line-height: 32px;
  margin-bottom: 5px;
  background-size: 20px,18px;
}

#manage_existing_project ul{
  padding-left: 0px;
}

#manage_existing_project th,#manage_existing_project td{
  padding: 8px 15px;
}

.ico_money{
  background: url(../img/mg_ico1.png) left center no-repeat;
}

.ico_gps{
  background: url(../img/mg_ico2.png) left center no-repeat;
}

.ico_name{
  background: url(../img/mg_ico3.png) left center no-repeat;
}

.actions,.items_hor{
  display: none;
}

.items_hor{
  position: absolute;
  width: 100%;
  height: 140px;
  margin-top: -70px;
  left: 100%;
}

.items_hor.show{
  display: block;
}

.items_hor p{
  color: #fff;
  text-align: center;
}

.items_hor a{
  color: white;
  display: block;
  height:50px;
  margin: 0 auto;
  width: 50px;
}

.items_hor .row{
  margin-right: 0px;
  margin-left: 0px;
}

.items_hor a.act_view{
  background: url(../img/act1_small.png) center center no-repeat;
}
.items_hor a.act_new{
  background: url(../img/act2_small.png) center center no-repeat;
}
.items_hor a.act_edit{
  background: url(../img/act3_small.png) center center no-repeat;
}
.items_hor a.act_file{
  background: url(../img/act4_small.png) center center no-repeat;
}

.items_hor .row{
 padding: 30px 0px;
}

.close_panel{
  background: url(../img/close.png) center center no-repeat;
  width:40px;
  height:40px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -20px;
}

.ic_view{
  margin-top: 10px;
}

#submit_new_request #buttons{
  float: right;
}

nav .color_white a{
  color: #fff !important;
  text-transform: uppercase;
}

nav.navbar {
  /*background:#007946;*/
  /* background: url(../img/green-header.jpg) left top repeat-x; per design team */
}

.navbar-brand{
  padding-top: 25px;
}

.navbar-toggle{
  background: #fff;
}

/*-------------------------*/
.color_grey,.m_main > .container > h2,#project .bl a,#home h3 a,
.form-control,.help,
 .help2,#launch-new .btn-default, #submit_new_request .btn-default,
 .lbl_checkbox,#manage_existing_project .table tbody{
  color: #777777;  /* per design team, was #808080; */
}

.arrow-open{
  float: left;
  background: url(../img/accordion.png) center center no-repeat;
  width: 30px;
  height: 20px;
}

.arrow-close{
  transform: rotate(-90deg)
}

.btn-action{
  /* background: url(../img/boton.png) center center no-repeat; per design team */
  width: 72px;
  height: 46px;
  color: #fff;
  text-align: center;
  float: left;
  margin-right: 10px;
  border-radius: 5px;  /* per design team */
  border: 2px solid #1a884a;  /* per design team */
  background: #1a884a;  /* per design team */
}
/* .btn-action a {
  color: #FFFFFF;
  width: 80%;
}  per design team */
.btn-action:hover {  /* per design team */
  color: #4a4b4c;  /* per design team */
  border: solid #c6cbcc 2px;  /* per design team */
  background: #fff;  /* per design team */
}  /* per design team */

.btn-action.txthcenter{
  line-height: 46px;
}

.btn-action2{
  /* background: url(../img/boton2.png) center center no-repeat; per design team */
  width: 116px;
  height: 82px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;  /* per design team */
  border: 2px solid #1a884a;  /* per design team */
  background: #1a884a;  /* per design team */
}
/*.btn-action2 a {
  color: #1a884a;
  width: 80%;
} per design team */
.btn-action2:hover {  /* per design team */
  color: #4a4b4c;  /* per design team */
  border: 2px solid #c6cbcc;  /* per design team */
  background: #fff;  /* per design team */
}  /* per design team */

.btn-action2.txthcenter{
  line-height: 82px;
}

.pd-tp-v{
  padding-top: 4px;
}

.pd-tp-x{
  padding-top: 10px;
}

.mg-rg-xx{
  margin-right: 20px;
}

.items_hor, .btn-success {  /* per design team */ /*,.btn-success{ */
  background: #EDEDED;  /* per design team, was #1a884a; */
}

.btn-success {  /* per design team */
  background: #1a884a;  /* per design team */
  color: #fff;  /* per design team */
  border-radius: 5px;  /* per design team */
  border: 2px solid #1a884a;  /* per design team */
 }  /* per design team */
.btn-success:hover {  /* per design team */
  color: #4a4b4c;  /* per design team */
  border: 2px solid #c6cbcc;  /* per design team */
  background: #fff;  /* per design team */
}  /* per design team */

/* .colorGreen,.bg_breadcrumb a,.btn-action2{
  color: #1a884a;
}  per design team */
.bg_breadcrumb span,
.bg_breadcrumb a {  /* per design team */
  color: #fff;  /* per design team */
}  /* per design team */

.btn-action2 {  /* per design team */
  background: #1a884a;  /* per design team */
  color: #fff;  /* per design team */
}  /* per design team */

 .btn-action,.btn-action2{
  cursor: pointer;
 }

@media (min-width: 768px) {
  .mg-top{
    margin-top: 20px;
  }

  #manage_existing_project .thactions,#manage_existing_project .tdactions{
    padding-right: 40px;
    width: 390px;
  }

  #manage_existing_project .thname,#manage_existing_project .tdname{
    padding-left:28px;
  }
}

@media (max-width: 768px) {

    #home .navbar-header{
      float: left;
    }

   #home .row{
        margin: 0 auto;
      /*width: 640px;*/
   }

   #home .col-sm-4{
       width: 50%;
        float: left;
   }

   #home .col-sm-4.down{
     float: none;
    margin-top: 250px;
   }

   #home .col-sm-2{
        margin: 0;
      padding: 0;
      width: 0;
   }

    #home .col-sm-4.up{
      margin-top: -248px;
      width: 50%;
      float: right;
   }

   #home .col-sm-4.left{
       margin-top: -20px;
   }
}

@media (max-width: 640px) {

  #project .col-xs-6{
    float: none;
    width: auto;
  }

}


@media (max-width: 600px) {
 /* .m_main{
    background: #000 !important;
  }*/

  .row{
        margin: 0 auto;
      /*width: 480px;*/
   }

}

@media (max-width: 580px) {
  #submit_new_request .form-group.select{
    /*width: 450px;*/
  }

  .head_checkbox {
    margin-right: 0px;
  }

  .m_main > .container > h2,.bg_breadcrumb a,.bg_breadcrumb span,#home h3 > a,.m_bx h3{
    font-size: 24px;
  }


}

@media (max-width: 520px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .icon-request{
   transform: scale(1);
  }


  li.ico_money,li.ico_gps,li.ico_name{
    background-size: initial;
  }

  #submit_new_request .lbl_checkbox {
   margin-top: 4px;
  }

}

@media (max-width: 942px) {

  nav.navbar  ul.nav{
    float: left !important;
    margin-top: 10px;
    margin-left: -25px;
    clear: left;
  }

}

/*-----------nav--------------*/
@media (max-width:940px) {
  nav .color_white a{
    color: #000 !important;
    font-weight: bold;
  }
}

/*-------------start actions buttons------------*/
@media (max-width: 810px) {
  .items{
    display: none;
  }

  .actions{
    display: block;
  }

   #manage_existing_project .tdactions{
    vertical-align: middle;
  }

  body{
    overflow-x:hidden;
  }

  #manage_existing_project .thactions, #manage_existing_project .tdactions{
    width: 100px;
  }

  #manage_existing_project .col-xs-3 {
    width: 23%;
  }

}

@media (min-width:811px){
  .items_hor.show{
    display: none !important;
  }
}

@media (max-width: 530px) {
  .btn-action2 {
    background: url(../img/boton2_small.png) center center no-repeat;
    width: 92px;
    font-size: 20px;
  }
}
/*--------------end actions buttons--------------*/

@media (max-width: 670px) {
  /*body{
    background: #000;
  }*/

  #launch-new p.pull-left,#launch-new p.pull-right,#submit_new_request p.pull-left,#submit_new_request p.pull-right{
    clear: both;
    float: none !important;
    margin: 0px auto;
    width: 400px;
  }

  #submit_new_request #buttons{
    float: none !important;
  }

  #launch-new p .btn,#submit_new_request p .btn{
    margin: 15px auto 0 auto;
    width: 100%;
  }

  .mg-rg-xx{
    margin-right: 0
  }

  #launch-new .mg-bt-xv .btn{
    margin-bottom: 15px;
  }
}


