{% extends "crowd_sourcing_open/base_crowd_sourcing.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
  <div class="col-md-1 col-xs-12"></div>

  <div class="col-md-10 col-xs-12 home_font">
    <div class="image">
        <img src="{{ STATIC_URL }}img/main_page_image_cropped.png" width="100%" height="100%" />
        <div class="main_text title_image_font_large">
          Research question<br />platform for<br />
            <span class="green_text">clinicians</span> and
            <span class="green_text">scientists</span>
            <div class="title_image_font_small" id="title_image_font_small">
              The Impart Crowd Sourcing tool allows groups to come to a consensus.
            </div>
            <div id="main_buttons">
            <a class="btn btn-lg main_button" href="{% url 'crowd_sourcing_open:create' %}">{% trans IMPART_SUBMIT_QUESTION %}</a>
            <br />
            <a class="btn btn-lg main_button" href="{% url 'crowd_sourcing_open:list' %}">{% trans IMPART_VIEW_QUESTIONS %}</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-8 col-xs-12">
          <div class="container_fluid">
            <div class="row-fluid">
              <h3 class="blue_bottom_border_thin"><u>How It Works</u></h3>
            </div>
            <div class="row-fluid">
              <div class="col-md-2 col-xs-12 row_top_padding">
                <img src="{{ STATIC_URL }}img/microscope.png">
              </div>
              <div class="col-md-10 col-xs-12 row_top_padding row_bottom_padding">
                Influence &amp; Explore<br />
                <span class="light_font">Researchers at The Dartmouth Institute seek input from clinicians and basic scientists whose work experience likely inspires insightful questions that warrant exploration through population data research</span>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-2 col-xs-12 row_top_padding">
                <img src="{{ STATIC_URL }}img/question_mark.png">
              </div>
              <div class="col-md-10 col-xs-12 row_top_padding row_bottom_padding">
                {% trans IMPART_SUBMIT_QUESTION %}<br />
                <span class="light_font">It doesn't matter if it's a question, sharing your idea is the first step toward bringing your idea to life.</span>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-2 col-xs-12 row_top_padding">
                <img src="{{ STATIC_URL }}img/comment_bubbles.png">
              </div>
              <div class="col-md-10 col-xs-12 row_top_padding row_bottom_padding">
                Comment &amp; Vote<br />
                <span class="light_font">Deciding which of these questions are the best is in your hands.  Go ahead and vote on the ones you love, and help our researchers explore their question through population data.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="container_fluid">
            <div class="row-fluid">
              <h3 class="pink_bottom_border_thin"><u>Latest Question</u></h3>
            </div>
            <div class="row-fluid row_top_padding">
              {% if question %}
              <table class="table-bordered box_font">
                <tr>
                    <td class="box_padding">
                      {{ question.question }}
                    <br /><br />
                    By {{ question.first_name }} {{ question.last_name }}
                    ({{ question.created|date:"M d, Y" }})
                    </td>
                </tr>
                <tr>
                  <td class="box_padding right-side"><a href="{% url 'crowd_sourcing_open:list' %}">Read more &gt;</a></td>
                </tr>
              </table>
              {% else %}
                    No questions yet.
              {% endif %}
            </div>
            <div class="row-fluid row_top_padding row_bottom_padding">
              <h3 class="green_bottom_border_thin row_bottom_padding_small"><u>FAQ</u></h3>
              <table class="table-bordered box_font box_padding">
                {% for faq in faqs %}
                  <tr>
                    <td class="box_padding">{{ faq.question }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td class="box_padding right-side"><a href="{% url 'crowd_sourcing_open:faq' %}">Read more &gt;</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>  
  </div>
  <div class="col-md-1 col-xs-12"></div>
{% endblock content %} 