{% load floppyforms %}

{% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <a class="close" href="#" data-dismiss="alert">×</a>
      {{ error }}
  </div><!--- .alert.alert-error -->
{% endfor %}
{% for error in form|hidden_field_errors %}
  <div class="alert alert-error">
    <a class="close" href="#" data-dismiss="alert">×</a>
      {{ error }}
  </div><!--- .alert.alert-error -->
{% endfor %}
