<footer class="m_footer">
 <div id="desktop-footer">
  <div class="container">
      <p class="footer_ctsa">
      Dartmouth SYNERGY Clinical and Translational Science Institute is supported in part through the National Institutes of Health (NIH) Clinical and Translational Science Award (CTSA) program. The CTSA program is led by the NIH's National Center for Advancing Translational Sciences (NCATS). The content of this website is solely the responsibility of Dartmouth SYNERGY and does not necessarily represent the official views of the NIH.
      </p>
    </div>
  <div class="container">
  <ul class="list-unstyled list-inline">
    <li><a href="http://geiselmed.dartmouth.edu/">Geisel School of Medicine at Dartmouth</a></li>
    <li class="muted">•</li>
    <li><a href="http://dartmouth.edu">Dartmouth College</a></li>
    <li class="muted">•</li>
    <li><a href="http://www.dartmouth-hitchcock.org/">Dartmouth-Hitchcock Medical Center </a></li>
    <li class="muted">•</li>
    <li><a href="http://tdi.dartmouth.edu/">The Dartmouth Institute for Health Policy </a></li>
  </ul>
  <ul class="list-unstyled list-inline">
    <li><a href="http://engineering.dartmouth.edu/">Thayer School of Engineering</a></li>
    <li class="muted">•</li>
    <li><a href="http://www.tuck.dartmouth.edu/">Tuck School of Business </a></li>
    <li class="muted">•</li>
    <li><a href="http://cancer.dartmouth.edu/">Norris Cotton Cancer Center </a></li>
    <li class="muted">•</li>
    <li><a href="http://www.whiteriver.va.gov/">White River Junction VA Medical Center </a></li>
  </ul>
  <ul class="list-unstyled list-inline m_pd_tp_x">
    <li><a href="#">Sitemap</a></li>
    <li class="muted">•</li>
    <li><a href="{% url 'crowd_sourcing:about' %}">About this Site</a></li>
  </ul>
  <ul class="list-unstyled list-inline">
    <li><a href="#">Copyright © {% now "Y" %} Dartmouth College, Dartmouth-Hitchcock, All rights reserved.</a></li>
  </ul>
</div>
 </div>
 <div id="mobile-footer">
    <a class="list-unstyled list-inline m_pd_tp_x" href="{% url 'crowd_sourcing:about' %}">About this Site</a>
 </div>
</footer>
