{% if messages %}
  <div id="message_box" class="row">
    <div class="col-sm-3 col-xs-12"></div>
    <ul class="messages col-sm-6 col-xs-12">
      {% for message in messages %}
        <li id="message_{{ forloop.counter }}"
          {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
    <div class="col-sm-3 col-xs-12"></div>
  </div>
{% endif %}
