{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load floppyforms %}
{% load i18n %}

{% block content %}
  <div class="col-md-2 col-xs-12"></div>
  <div class="col-md-8">
  <h1 class="m_sections_title m_fsize2 text-center">{% trans 'Fill out the form below to send a message to ic3d.' %}</h1>
    <div class="m_form">
      <form id="contact_message" action="" method="post"  class="focus_first" role="form">
        {% csrf_token %}
        <table class="add_padding">
        {{ form }}
        </table>
        <p class="right_side"><button type="submit" class="btn btn-lg orange_button">{% trans IMPART_SUBMIT %}</button></p>
      </form>
    </div>
  </div>
  <div class="col-md-2 col-xs-12"></div>
{% endblock content %}