{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load i18n %}

{% block content %}
  <div class="col-md-2 col-xs-12"></div>
  <div class="col-md-8 col-xs-12">
    <h1 class="m_sections_title m_fsize2 text-center pad_bottom_large">{% trans 'Frequently Asked Questions' %}</h1>
    <div class="container-fluid">
    {% for faq in faqs %}
        <div class="row-fluid bl font_size_14 pad_bottom_small">
            {{ faq.question }}
        </div>
        <div class="row-fluid pad_bottom_large font_size_14">
            {{ faq.answer }}
        </div>
    {% endfor %}
    </div>
  </div>
  <div class="col-md-2 col-xs-12"></div>
{% endblock content %}