{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load staticfiles %}
{% include 'autocomplete_light/static.html' %}
{% load floppyforms %}
{% load i18n %}

{% block content %}
  <div class="col-md-2 col-xs-12"></div>

  <div class="col-md-8 col-xs-12">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-8 col-xs-12">
        <div class="bl font_size_12">{% trans "SUBMIT A RESEARCH QUESTION" %}</div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="right_side details_title_bar">
          <a class="btn btn-lg orange_button" href="{% url app_name|add:':list' %}">
            {% trans IMPART_VIEW_SUBMITTED_QUESTIONS %}
          </a>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12 col-xs-12">
        <div class="thicker_hr pad_bottom"><hr></div>
      </div>
    </div>
  </div>
  <h4 class="centered">{% trans "All fields are required." %}</h4>
    <div class="m_form">
      <form id="research_question_form" action="" method="post" class="focus_first" role="form">
        {% csrf_token %}
        <fieldset class="form-group">
          {% include '_errors.html' with form=form %}
          <div class="col-xs-12 col-md-1"></div>
          <div class="col-xs-12 col-md-10">
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                {% if field.name != "department_all" and field.name != "department_geisel" %}
                    {{ field.label_tag }} {{ field }}
                    <div class="wide_line_spacing">{{ field.help_text }}</div>
                    <div class="impart_error_message">{{ field.errors }}</div>
                {% else %}
                    {{ field }}
                    <div class="impart_error_message">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% if field.name != "institution" and field.name != "department_dhmc" and field.name != "department_geisel" and field.name != "department_all" and field.name != "topic" and field.name !=  "need_lab_data" and field.name != "need_lab_data_specify" %}
                <br /><br />
            {% endif %}
            {% if field.name == "need_lab_data_specify" %}
            <div class="fieldWrapper">
                <label>Would you like to receive email notifications when new questions are submitted?</label>
                <ul>
                <li>
                <input type="checkbox" name="receive_notifications" />
                <label>&nbsp;&nbsp;Yes</label>
                </li>
                </ul>
            </div>
            {% endif %}
          {% endfor %}
            <br/>
            <p class="right_side"><button type="submit" class="btn btn-lg orange_button">{% trans IMPART_SUBMIT %}</button></p>
          </div>
          <div class="col-xs-12 col-md-1"></div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-md-2 col-xs-12"></div>
{% endblock content %} 
{% block extra_js %}
<script src="{% static 'js/research_question_create.js' %}"></script>
{% endblock extra_js %}
