{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load floppyforms %}
{% load i18n %}

{% block page_title %}
    <h1 class="centered">{% trans 'Click the confirm button below to approve this question:' %}</h1>
    <h1 class="centered"><em>{{object.question}}</em></h1>
{% endblock %}

{% block content %}
  <div class="col-md-2 col-xs-12"></div>
  <div class="col-md-8">
    <div class="m_form">
      <form id="confirm_question_approval" action="" method="post"  class="focus_first" role="form">
        {% csrf_token %}
        <table class="confirm_table">
            <tr>
                <td><button type="submit">{% trans IMPART_CONFIRM %}</button></td>
            </tr>
            <tr>
                <td><a href="{% url app_name|add:':list' %}">{% trans IMPART_CANCEL %}</a></td>
            </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="col-md-2 col-xs-12"></div>
{% endblock content %}
