{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="col-md-2 col-xs-12"></div>
<div class="col-md-8 col-xs-12">
  <div class="container-fluid pad_bottom">
    <div class="row-fluid">
      <div class="col-lg-6 col-md-12">
        <div class="bl font_size_12">{% trans "RESEARCH QUESTION DETAILS" %}</div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="right_side details_title_bar">
          <a class="btn btn-lg orange_button" href="{% url app_name|add:':list' %}">
            {% trans IMPART_VIEW_SUBMITTED_QUESTIONS %}
          </a>
          <a class="btn btn-lg orange_button top_margin" href="{% url app_name|add:':create' %}">
            {% trans IMPART_SUBMIT_QUESTION %}
          </a>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12 col-xs-12">
        <div class="thicker_hr pad_bottom"><hr></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-10 col-xs-12">
        <span class="label label-default full_font_size">{{ question.topic }}</span>
      </div>
      <div class="col-md-2 col-xs-12 bl">
        {{ question.up_votes }} <i class="fa fa-thumbs-o-up fa-2x"></i> {{ question.down_votes }} <i class="fa fa-thumbs-o-down fa-2x"></i>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-9 col-xs-12">
        <h3>{{ question.question }}</h3>
      </div>
      <div class="col-md-3 col-xs-12">
        <table class="left_vertical_line_table">
          <tr>
            <th>{% trans 'Submitted By' %}</th>
          </tr>
          <tr>
            <td>
            {% if app_name == 'crowd_sourcing_open' %}
              {{ question.first_name }} {{ question.last_name }}
            {% else %}
              {{ question.user.first_name }} {{ question.user.last_name }}
            {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              {% if question.institution_other == '' %}
                {{ question.institution }}
              {% else %}
                {{ question.institution }}: {{ question.institution_other }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              {% if question.department_other == '' %}
                {% firstof question.department_dhmc question.department_geisel question.department_all %}
              {% else %}
                {% firstof question.department_dhmc question.department_geisel question.department_all %}: {{ question.department_other }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="light_font">{{ question.created|date:"M d, Y" }} at {{ question.created|date:"H:i" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="container-fluid pad_bottom_large">
    <div class="row-fluid">
      <div class="col-md-12 col-xs-12">
        <table class="left_vertical_line_padded_table indent_left_marg">
          <tr>
            <td>
              <div class="bl">Field of Inquiry</div>
              <div class="indent_left pad_bottom_small">
                {% if question.topic_other == '' %}
                  {{ question.topic }}
                {% else %}
                  {{ question.topic }}: {{ question.topic_other }}
                {% endif %}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="bl">Investigated Population or Disease Cohort</div>
              <div class="indent_left pad_bottom_small">
                {{ question.population }}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="bl">Key Exposure of Interest</div>
              <div class="indent_left pad_bottom_small">
                {{ question.key_exposure_of_interest }}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="bl">Key Outcome of Interest</div>
              <div class="indent_left pad_bottom_small">
                {{ question.key_outcome_of_interest }}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="bl">Lab / Biometric Needs</div>
              <div class="indent_left pad_bottom_small">
                {% if question.need_lab_data == 0 %}
                  {% trans 'No' %}
                {% else %}
                  {% trans 'Yes:' %} {{ question.need_lab_data_specify }}
                {% endif %}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 font_size_12">
        {{ comments|length }} COMMENT{{ comments|length|pluralize|upper }}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="thicker_hr pad_bottom"><hr></div>
      </div>
    </div>
  </div>
  <div class="container-fluid pad_bottom_large">
    <div class="col-md-12 col-xs-12">
      {% if comments %}
        {% for comment in comments %}
          <div class="row-fluid">
            <div class="col-xs-12 font_size_14 pad_bottom_small">
              {{ comment.comment }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-md-3 col-xs-12 smaller_font pad_bottom_small">
            {% if app_name == 'crowd_sourcing_open' %}
              By {{ comment.submitted_by }}
            {% else %}
              By {{ comment.user.first_name }} {{ comment.user.last_name }}
            {% endif %}
            </div>
            <div class="col-md-9 col-xs-12 smaller_font light_font pad_bottom_small">
              {{ comment.created|date:"M d, Y" }} at {{ comment.created|date:"H:i" }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-xs-12 pad_bottom_small">
              <div class="dotted_border"></div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% trans 'No comments yet.' %}
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 font_size_12">
        {% trans 'YOUR COMMENT' %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="thicker_hr pad_bottom"><hr></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-12">
      <form id="research_question_comment_form" action="" method="post" role="form">
      {% csrf_token %}
      <fieldset class="form-group">
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
          <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            {{ field.help_text }}
            {% if field.html_name == "comment" %}
              <br /><br />
              <label for="vote">Vote (optional): </label>
                &nbsp;
                {% if question.current_vote == True %}
                  <input type="radio" name="vote" value="1" checked />
                {% else %}
                  <input type="radio" name="vote" value="1" />
                {% endif %}
                <i class="fa fa-thumbs-o-up fa-2x"></i>
                &nbsp;
                {% if question.current_vote == False %}
                  <input type="radio" name="vote" value="0" checked />
                {% else %}
                  <input type="radio" name="vote" value="0" />
                {% endif %}
                <i class="fa fa-thumbs-o-down fa-2x"></i>
            {% endif %}
            <div class="impart_error_message">{{ field.errors }}</div>
          </div>
          <br />
        {% endfor %}
        <br />
        <p class="right_side"><button type="submit" class="btn btn-lg orange_button">{% trans IMPART_SUBMIT %}</button></p>
      </fieldset>
    </form>
    </div>
  </div>
</div>
<div class="col-md-2 col-xs-12"></div>
{% endblock content %}
