{% extends app_name|add:"/base_crowd_sourcing.html" %}
{% load floppyforms %}
{% load i18n %}

{% block page_title %}
    <h3 class="centered">{% trans 'Click the confirm button below to remove this email address from the Impart New Submitted Question Notification List:' %}</h3>
    <h3 class="centered"><em>{% firstof object.user.email object.alt_email %}</em></h3>
{% endblock %}

{% block content %}
  <div class="col-md-2 col-xs-12"></div>
  <div class="col-md-8">
    <div class="m_form">
      <form id="confirm_unsubscribe" action="" method="post"  class="focus_first" role="form">
        {% csrf_token %}
        <table class="confirm_table">
            <tr>
                <td><button type="submit">{% trans IMPART_CONFIRM %}</button></td>
            </tr>
            <tr>
                <td><a href="{% url app_name|add:':list' %}">{% trans IMPART_CANCEL %}</a></td>
            </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="col-md-2 col-xs-12"></div>
{% endblock content %}
