{% extends app_name|add:"/base_crowd_sourcing.html" %} {% block title %}Log in{% endblock %}
{% load obfuscate_email_address %}
{% load i18n %}
{% load staticfiles %}
{% load floppyforms %}

{% block extra_css %}
  {{ block.super }}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
  <h1 class='color_grey centered'>
      Sign in to Impart
  </h1>
  <div class="m_main bgwhite">
    <div class='container color_grey'>

    <div class="row">
      <div class="col-xs-12 col-md-1"></div>

      <div class="col-xs-12 col-md-10">
        <div class="col-sm-offset-2">
          {% if user.is_authenticated %}
            <p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
            <p><a href="{% url 'auth:logout' %}">{% trans 'Logout' %}</a></p>
          {% else %}
            <h2 id="form_header">Sign in with your Dartmouth NetID</h2>
            <div class="m_form">
              <form id="login" method="post" action="?next={{ next }}" class="focus_first half_width" role="form">
                {% csrf_token %}
                <fieldset class="form-group">
                  <div class="col-xs-offset-1">
                    {{ form.as_p }}
                    <br/>
                    <p><a id="lookup_net_id" href="javascript:void(0);">Lookup my NetID.</a></p>
                    <p><a href="https://dartdm.dartmouth.edu/dartDM/PasswordReset">Don't know your password?</a></p>
                    <div class="container-fluid">
                      <button type="submit" class="btn pull-right">Log in</button>
                    </div>

                  </div>
                </fieldset>
              </form>
              <p>Need more help? {% encrypt_email_with_label "help@synergy.dartmouth.edu" "Email&nbsp;us" %}.</p>
            </div>
          {% endif %}
        </div>
        {% if app_name == 'comm_crowd_sourcing' %}
        <div class="col-sm-offset-1">
          <div class="container-fluid">
            <div class="row-fluid">
              <a class="no_top_padding" href="{% url 'social:begin' 'facebook' %}?next=/comm_crowd_sourcing/">
                <img alt="Log in with Facebook" src="{{ STATIC_URL }}img/facebook_login.png">
              </a>
              <a class="no_top_padding" href="{% url 'social:begin' 'linkedin-oauth2' %}?next=/comm_crowd_sourcing/">
                <img alt="Sign in with LinkedIn" src="{{ STATIC_URL }}img/linkedin_signin.png">
              </a>
              <a class="no_top_padding" href="{% url 'social:begin' 'google-oauth2' %}?next=/comm_crowd_sourcing/">
                <img alt="Sign in with Google" src="{{ STATIC_URL }}img/google_signin.png">
              </a>
            </div>
          </div>
          </div>
        {% endif %}
      </div>
      <div class="col-xs-12 col-md-1"></div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript">
    // Potential fix for the safari-back-button/login-page issue
    // Source: http://stackoverflow.com/questions/11979156/mobile-safari-back-button/12652160
    // Supposed to stop the login page from being cached in Safari
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload();
      }
    };
  </script>
{% endblock extra_js %}
